@font-face
{
    font-family: 'Avenir Next';
    src: url("../fonts/AvenirNext-UltraLightItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Alegreya Sans SC";
    src: url("../fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf");
}
.gradient
{
    background: linear-gradient(140deg, cyan, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    font-family: 'Avenir Next'; font-style: italic; font-weight: lighter; text-align: center;
}
#starting-tab:hover
{
    background: linear-gradient(140deg, violet, cyan); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}
.header-container
{
    width: 100vw;
    text-align: center;
    /*padding: 0 10px;*/
}
.category-header
{
    /*margin-top: 20px;*/
    padding: 30px 0;
    font-size: 50px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: -1px;
}
.category-header span
{
    color: #777;
}
.category-container
{
    width: 50vw;
    height: 500px;
    margin: 25px 0;
    min-width: 500px;
}
.no-text
{
    display: flex;
    /*text-align: center;*/
    justify-content: center;
}
/*.category-container iframe*/
/*{*/
    /*margin: 0 auto;*/
/*}*/
p
{
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    color: #222;
    margin: 0 30px;
}

#text:after
{
    background: none;
    content: attr(data-text);
    text-shadow: -3px 3px 5px #000;
    z-index: -1;
    position: absolute;
    margin: 0 auto; left: 0; right: 0;
    /*width: 100%;*/
    /*text-align: center;*/
}

.tab-group
{
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: hidden;
    width: 100vw;
    height: 75px;
    background-color: white;
    box-shadow: 0 0 18px #000;
}
.tab-group button
{
    height:75px;
    float: right;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 20px;
    color: #666;
    font-size: 16px;
}

.tab-group button:hover
 {
     color: #999;
 }

.tab-group button.active
{
    color: black;
    /*font-weight: bold;*/
}

/* Style the tab content */
.tab-content
{
    /*overflow: hidden;*/
}

@media (min-width: 768px)
{

}